* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	background: black;
}

header {
	background-color: white !important;
	height: 50px;
	width: 100vw;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}


#nav-links-container {
	background-color: white !important;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 90%
}

#nav-links-container a {
	display: block;
/*	color: white;*/
	color: black;
	text-decoration: none;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 10px;
}

#burger {
	display: none;
	/*cursor: pointer;
	display: block;
	padding-right: 15px;
	position: absolute;
	right: 0;*/
}

/*#burger div {
	width: 25px;
	height: 2px;
	background-color: white;
	margin: 5px;
}*/

#section-welcome-message {
	width: 100%;
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 0px 30px;
}

#section-welcome-message h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#section-welcome-message h2 {
	font-family: 'Archivo Black', sans-serif;
	font-weight: 400;
	color: #00FFB1;
	font-size: 50px;
	letter-spacing: -2px;
	line-height: 55px;
	text-align: center;
/*	margin: 0px 20px;*/
}


#description {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	margin-top: 14px;
	margin-bottom: 14px;
	width: 70%
}

#download-resume, #book-appointment {
	background-color: white;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	font-size: 10px;
	letter-spacing: 1.5px;
	border: none;
	cursor: pointer;
}

#section-about-me {
	width: 100%;
	display: flex;
	color: white;
	padding: 30px 40px;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

#section-about-me #img-container {
	display: flex;
/*	flex: 1;*/
	align-content: center;
	justify-content: center;
	margin-bottom: 14px;
}

#section-about-me img {
	width: 100%;
/*	flex: 1;*/
	border-radius: 20px;
}

#section-about-me #about-me-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 25px;
	letter-spacing: 1px;
	color: #FF3636;
}

#section-about-me #about-me-role {
	margin-top: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 15px;
}

#section-about-me #about-me-subtitles {
/*	flex: 1;*/
	display: flex;
}

#section-about-me .subtitles-container {
	margin: 14px 0px;
}

#section-about-me .subtitles {
	font-family: 'Archivo Black', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: .25px;
}

#section-about-me .subtitles-answers {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

#section-about-me .subtitles {
	line-height: 20px;
}

#section-about-me .subtitles-answers {
	line-height: 22px;
}

#section-about-me #about-me-subtitles-grp2 {
	margin-left: 25px;
}

#section-about-me #book-appointment {
	margin-top: 5px;
}

#section-toolkit {
	width: 100%;
/*	height: 100vh;*/
	padding: 30px 40px;
}

#section-toolkit #toolkit-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 25px;
	letter-spacing: 1px;
	color: #FF3636;
	margin-bottom: 14px;
}

#section-toolkit #toolkit-row-1, #toolkit-row-2 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}

#section-toolkit .toolkit-container {
	color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: space-around;
}

#section-toolkit .toolkit-circle-container {
	display: inline-block;
	margin: 10px 20px;
}

#section-toolkit .toolkit-circle {
	background-color: white;
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	margin-bottom: 10px;
}

#section-toolkit i {
	color: black;
	font-size: 4rem;
}

#mongodb-png {
	width: 85%;
	height: auto;
}

#graph-png {
	width: 75%;
	height: auto;
}

#section-toolkit .tool-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-align: center;
}

footer {
	flex-direction: column;
	background-color: black;
	padding: 30px 40px;
	margin-top: 150px;
	color: white;
}

footer .footer-containers {
	display: block;
	margin-bottom: 30px;
}

footer #work-with-me-container {
}

footer #work-with-me-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 20px;
	letter-spacing: 1px;
	color: #00FFB1;
	margin-bottom: 14px;
}

footer .create-together {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 30px;
}

footer #get-in-touch {
	background-color: white;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	font-size: 10px;
	letter-spacing: 1.5px;
	border: none;
	margin-top: 14px;
	cursor: pointer;
}

footer .section-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 20px;
	letter-spacing: 1px;
	color: #9A9A9A;
}

footer #sl1, #sl2 {
	margin-bottom: 14px;
}

footer #find-me-on-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 20px;
	letter-spacing: 1px;
	color: #00FFB1;
	margin-bottom: 14px;
	margin-right: 30px;
}

footer .find-me-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #9A9A9A;
}

/*Modal*/
.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgb(128, 128, 128, 0.5);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#close {
	display: block;
	position: absolute;
	right: 0;
	margin-right: 30px;
	color: white;
	background-color: black;
	border: none;
	font-size: 20px;
	transform: rotate(45deg);
	cursor: pointer;
}

.modal-content {
	width: 100%;
	height: 100%;
	background-color: black;
/*	border-radius: 40px;*/
	padding: 10px 30px;
	border-style: none;
	position: relative;
}

#getintouch-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 25px;
	letter-spacing: 1px;
	color: #00FFB1;
	margin-top: 14px;
	margin-bottom: 14px;
}

form {
	display: flex;
	flex-direction: column;
}

.form-subtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
	color: white;
	margin-bottom: 8px;
}

.form-answer {
	width: 100%;
	height: 40px;
	padding: 12px;
	background-color: black;
	border: 1px solid;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	color: white;
	border-color: white;
	border-radius: 5px;
	margin-bottom: 25px;
}

#tell-me {
	max-width: 100%;
	height: 150px;
	padding: 12px;
	background-color: black;
	border: 1px solid;
	border-color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	color: white;
	border-radius: 5px;
	margin-bottom: 10px;
}

::placeholder {
	color: grey;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
}

input:focus, textarea:focus {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
}

#send-btn {
	background-color: white;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 15px 20px;
	font-size: 14px;
	letter-spacing: 1.5px;
	border: none;
	margin-top: 15px;
	align-self: center;
	margin-bottom: 15px;
}

#alternative {
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
	color: white;
}

@media only screen and (min-width: 443px) {
	#section-welcome-message h2 {
		font-family: 'Archivo Black', sans-serif;
		font-weight: 400;
		color: #00FFB1;
		font-size: 70px;
		letter-spacing: -2px;
		line-height: 77px;
		text-align: center;
	}
}

@media only screen and (min-width: 542px) {
	#section-about-me #img-container {
		width: 460px;
		align-self: center;
	}

	header {
		position: fixed;
	}

	#nav-links-container a {
		font-size: 13px;
	}

	#section-welcome-message {
		height: 100vh;
	}

	#description {
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-size: 20px;
		text-align: center;
		line-height: 35px;
		margin-top: 14px;
		margin-bottom: 14px;
		width: 70%
	}

	#download-resume {
		font-size: 15px;
		letter-spacing: 1.5px;
		border: none;
		margin-top: 13px;
		cursor: pointer;
	}
}

@media only screen and (min-width: 617px) {
	#section-welcome-message h2 {
		font-family: 'Archivo Black', sans-serif;
		font-weight: 400;
		color: #00FFB1;
		font-size: 90px;
		letter-spacing: -2px;
		line-height: 95px;
		text-align: center;
	}
}

@media only screen and (min-width: 768px) {
	#section-welcome-message h2 {
		font-family: 'Archivo Black', sans-serif;
		font-weight: 400;
		color: #00FFB1;
		font-size: 105px;
		letter-spacing: -2px;
		line-height: 115px;
		text-align: center;
	}

	footer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding: 30px 40px;
		margin-top: 150px;
		color: white;
		justify-content: space-around;
	}

	.modal-content {
		width: 50%;
		height: 80%;
		background-color: black;
		border-radius: 30px;
		padding: 10px 30px;
		border-style: none;
		position: relative;
	}
}

@media only screen and (min-width: 790px) {
	#section-welcome-message h2 {
		font-family: 'Archivo Black', sans-serif;
		font-weight: 400;
		color: #00FFB1;
		font-size: 110px;
		letter-spacing: -2px;
		line-height: 115px;
		text-align: center;
	}
}

@media only screen and (min-width: 910px) {
	#section-about-me {
		width: 100%;
		display: flex;
		color: white;
		padding: 30px 40px;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	#section-about-me #img-container {
		align-content: center;
		margin-bottom: 0px;
	}

	#section-about-me img {
		width: 460px;
		border-radius: 20px;
	}

	#section-about-me #about-me-container {
		margin-left: 30px;
	}

	#section-about-me #about-me-title {
		font-size: 45px;
	}

	#section-about-me #about-me-role {
		margin-top: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 17px;
	}
	#section-about-me .subtitles {
		font-family: 'Archivo Black', sans-serif;
		font-weight: 400;
		font-size: 15px;
		letter-spacing: .25px;
	}
	#section-about-me .subtitles-answers {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
	}

	#section-about-me .subtitles {
		line-height: 20px;
	}

	#section-about-me .subtitles-answers {
		line-height: 22px;
	}

	#section-toolkit #toolkit-title {
		font-size: 45px;
		text-align: center;
	}

	#section-toolkit .tool-name {
	font-size: 14px;
	}

	#book-appointment {
		font-size: 13px;
		letter-spacing: 1.5px;
		border: none;
		margin-top: 15px;
		cursor: pointer;
	}

	footer #get-in-touch {
	background-color: white;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 10px 20px;
	font-size: 13px;
	letter-spacing: 1.5px;
	border: none;
	margin-top: 14px;
	cursor: pointer;
	}
}

@media only screen and (min-height: 1024px) {
	#section-welcome-message {
		height: 70vh;
		padding-top: 40px;
	}

	.modal-content {
		width: 50%;
		height: 70%;
		background-color: black;
		border-radius: 30px;
		padding: 10px 30px;
		border-style: none;
		position: relative;
	}
}

@media only screen and (min-height: 1366px) {
	#section-welcome-message {
		height: 50vh;
	}

	.modal-content {
		width: 50%;
		height: 50%;
		background-color: black;
		border-radius: 30px;
		padding: 10px 30px;
		border-style: none;
		position: relative;
	}
}




